/***** header  *****/

section#home {
  position: relative;
  /* background-color: red; */
  height: 95vh;
  min-height: 600px;
  padding-top: 0;
}
.carousel.full-height {
  height: 100% !important ;
}
div.carousel-item {
  padding-top: 12%;
  /* background-color: violet; */
}
.main-txt-container {
  position: relative;
  top: 30px;
}
.main-txt-container h4 {
  font-size: 50px;
}

@media (max-width: 992px) {
  #home .carousel-item {
    background-position: center center;
  }
  .main-txt-container {
    top: initial;
    bottom: 25%;
  }
}

@media (max-width: 600px) {
  section#home {
    min-height: 825px;
  }
  .main-txt-container {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .main-txt-container h4 {
    font-size: 38px;
  }
}

/***** end of header *****/

/***** experience *****/
section.experience {
  padding: 5rem 0 1rem 0 !important;
  background-color: var(--darkGrey);
  /* height: 80vh; */
  /* min-height: 500px; */
}
.experience .row {
  margin-bottom: 0 !important;
}
.experience-img {
  width: 80%;
}
.experience-text {
  padding: 70px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}
@media (max-width: 600px) {
  .experience-img {
    width: 100%;
  }
  .experience-text {
    padding: 20px 0 0 0;
  }
}
/***** end of experience *****/

/***** customer-vendor *****/
section.customer-vendor {
  padding: 5rem 0;
}
.customer-item {
  padding: 1rem 6rem 1rem 1rem !important;
}
/***** end of customer-vendor *****/

/***** experience section 2 *****/
.experience-section-2 {
  background-color: #fff8f5;
  padding: 5rem 0 0 0;
}
.experience-section-2 .row {
  margin-bottom: 0;
}
.experience-img-2 {
  width: 100%;
}
@media (max-width: 600px) {
  .experience-img-2 {
    width: 100%;
  }
  .experience-text {
    padding: 20px 0 0 0;
  }
}
/***** end of experience section 2 *****/

/***** vendor section *****/
.vendor {
  padding: 5rem 0 0 0;
}
/***** end of vendor section *****/
