/***** header  *****/

section#home {
  position: relative;
  /* background-color: red; */
  height: 80vh;
  min-height: 600px;
  padding-top: 0;
}
.carousel.full-height {
  height: 100% !important ;
}
div.carousel-item {
  padding-top: 15%;
  /* background-color: violet; */
}
.main-txt-container {
  position: relative;
  top: 30px;
}
.main-txt-container h1 {
  font-size: 48px;
}

@media (max-width: 992px) {
  #home .carousel-item {
    background-position: center center;
  }
  .main-txt-container {
    top: initial;
    bottom: 25%;
  }
}

@media (max-width: 600px) {
  section#home {
    min-height: 825px;
  }
  .main-txt-container h1 {
    font-size: 38px;
  }
  .main-txt-container {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .main-txt-container h4 {
    font-size: 38px;
  }
}

/***** end of header *****/

/***** experience *****/
section.experience {
  padding: 5rem 0 1rem 0 !important;
  background-color: var(--darkGrey);
  /* height: 80vh; */
  /* min-height: 500px; */
}
.experience .row {
  margin-bottom: 0 !important;
}
.experience-img {
  width: 80%;
}
.experience-header h4 {
  font-size: 32px;
}
.experience-text {
  /* padding: 70px 0 0 0; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}
.experience-title {
  display: flex;
}
.experience-title p {
  padding: 0.2rem 0.5rem !important;
  color: var(--mainWhite) !important;
  border: solid 1px var(--mainWhite);
  border-radius: 4px;
  margin: 0 !important;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500px;
}
.experience-detail {
  margin: 3rem 0;
}
.experience-detail p {
  margin: 0;
  color: var(--mainWhite);
}
.share-img-container img {
  width: 70%;
}
@media (max-width: 600px) {
  .experience-img {
    width: 100%;
  }
  .experience-header h4 {
    font-size: 24px;
  }
  .experience-text {
    padding: 20px 0 0 0;
  }
}
/***** end of experience *****/

/***** customer-vendor *****/
section.customer-vendor {
  padding: 5rem 0;
}
.customer-item {
  padding: 1rem 4rem !important ;
}
.c-v-name h6 {
  font-family: var(--font);
  font-size: 22px;
  font-weight: 600;
}
.c-v-name span {
  color: var(--darkBlue);
  background: var(--lightBlue);
  padding: 0.4rem;
  margin: 0 0 0 1rem;
}
.c-v-img-container img {
  width: 50%;
}
@media (max-width: 992px) {
  .customer-item {
    padding: 1rem 2rem !important;
  }
}
@media (max-width: 600px) {
  .c-v-img-container img {
    width: 50%;
  }
  .customer-item {
    padding: 1rem 1rem !important ;
  }
}
/***** end of customer-vendor *****/

/***** experience section 2 *****/
.experience-section-2 {
  background-color: #fff8f5;
  padding: 5rem 0 0 0;
}
.experience-section-2 .experience-title p {
  border-color: var(--primaryColor);
  color: var(--primaryColor) !important;
}
.experience-section-2 .row {
  margin-bottom: 0;
}
.experience-img-2 {
  width: 100%;
}
@media (max-width: 600px) {
  .experience-img-2 {
    width: 100%;
  }
  .experience-text {
    padding: 20px 0 0 0;
  }
}
/***** end of experience section 2 *****/

/***** vendor section *****/
.vendor {
  padding: 5rem 0 0 0;
}
.vendor-txt-wrapper span {
  color: var(--darkGreen);
  background-color: var(--lightGreen);
  padding: 0.4rem;
  font-size: 13px;
  margin-top: 0.2rem;
}
.v-name {
  display: flex;
  flex-direction: column;
}
.v-name h6 {
  font-family: var(--font);
  font-size: 22px;
  font-weight: 600;
}
/***** end of vendor section *****/

/***** media section *****/
#media {
  padding: 5rem 0;
}
#media .carousel.carousel-slider {
  height: 263px !important;
}
.vid-img {
  cursor: pointer;
}
.scale-up {
  transition: 1s;
}
.scale-up:hover {
  transform: scale(1.05);
}
@media (max-width: 992px) and (min-width: 601px) {
  #media .carousel {
    height: 200px !important;
    min-height: auto;
  }
}
/* @media (max-width: 600px) {
  .amazingslider-nav-4 {
    bottom: -60px !important;
    right: 30% !important;
  }
  .center.sect-title > span > hr.sect-hr {
    margin-right: calc(36% + 5px);
  }
} */
/***** end of media section *****/

/***** footer section *****/
footer {
  background-color: var(--vasitiBlack);
  padding: 5rem 0;
  font-family: var(--sec-font);
}
/* .form-control {
  display: flex;
} */
.phone-container-main {
  position: relative;
}
.phone-img-container {
  position: absolute;
  top: -120px;
}
.second-footer {
  color: var(--mainWhite);
  padding: 7rem 0 0 0 !important;
}
.second-footer h6 {
  font-family: var(--sec-font-bold);
  font-weight: 700;
}
.second-footer a {
  color: var(--mainWhite);
  font-size: 13px;
  font-family: var(--sec-font);
  font-weight: 400;
}
.second-footer li {
  padding: 0.4rem 0;
  text-transform: capitalize;
}

.form-control {
  width: 100%;
  display: flex;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  align-items: center;
  padding: 0 0.5rem;
}
.form-control button{
  border-radius: 4px !important;
  box-shadow: none !important;
}
.subscribe-banner {
  width: 100%;
}
.form-control [type="email"]:not(.browser-default) {
  border-bottom: none;
  margin: 0;
}
input[type=email]:not(.browser-default):focus:not([readonly]){
border-bottom: none ;
box-shadow: none;
}
.be-a-member {
  width: 95%;
}
.social-div ul {
  display: flex;
}
@media (max-width: 600px) {
  .phone-container-main {
    position: static;
  }
  .phone-img-container {
    position: static;
  }
  .be-a-member {
    width: 100%;
  }
  .second-footer li {
    padding: 0.1rem 0;
    text-transform: capitalize;
  }
  .second-footer a {
    font-size: 11px !important;
  }
  .form-control {
    width: 100%;
  }
  .form-control button{
    border-radius: 4px !important;
    box-shadow: none !important;
    /* padding: .5rem !important; */
  }
  .subscribe-banner {
    width: 100% !important;
  }
}
/***** end of footer section *****/

/***** about section *****/

section#about {
  position: relative;
  padding-top: 12%;
}

.tabs .tab {
  display: inline-block;
  text-align: left;
  line-height: 30px;
  height: 80px;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  border-radius: 10px;
}
.tabs {
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  height: 80px;
  width: 100%;
  background-color: #fff;
  margin: 0 auto;
  white-space: nowrap;
}
.tabs .tab a {
  display: block;
  background-color: var(--mainGrey);
  width: 70%;
  height: 100%;
  padding: 0 24px;
  font-size: 14px;
  border-radius: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-transition: color 0.28s ease, background-color 0.28s ease;
  transition: color 0.28s ease, background-color 0.28s ease;
}

.tabs .tab a:hover,
.tabs .tab a.active {
  background-color: var(--primaryColor);
}

.tabs .tab a:hover .tab-icon-div,
.tabs .tab a.active .tab-icon-div {
  background-color: var(--mainWhite);
  border-radius: 20px;
}

.tabs .tab a:hover .tab-icon-div i,
.tabs .tab a.active .tab-icon-div i {
  color: var(--primaryColor) !important;
}

.tabs .tab a:hover .tab-text,
.tabs .tab a.active .tab-text {
  color: var(--mainWhite) !important;
}

.tabs .tab a:focus,
.tabs .tab a:focus.active {
  background-color: var(--primaryColor);
  outline: none;
}

.tabs .indicator {
  position: absolute;
  bottom: 0;
  height: 0px;
  background-color: #0a50e7;
  will-change: left, right;
}
.tab-click {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 10px;
}

.tab-text {
  color: var(--mainBlack);
  display: flex;
  flex-direction: column;
  padding: 0 0 0 1rem;
}

.tab-text h6 {
  line-height: 20% !important;
  display: inline;
  margin: 2rem 0 0 0;
}
.tab-text p {
  margin: 0 !important;
  padding: 0 !important;
  display: inline;
  font-size: 10px !important;
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
}
.tab-icon-div {
  padding: 1rem;
  background-color: var(--primaryColor);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0 0 0;
}
.tab-icon-div i {
  color: var(--mainWhite) !important;
}
/* Tablet */
@media (max-width: 992px) {
  section#about {
    position: relative;
    padding-top: 15%;
  }
  .tabs .tab a {
    display: block;
    background-color: var(--mainGrey);
    width: 80%;
    height: 100%;
    padding: 0 24px;
    font-size: 14px;
    border-radius: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-transition: color 0.28s ease, background-color 0.28s ease;
    transition: color 0.28s ease, background-color 0.28s ease;
  }
}
/* Phone */
@media (max-width: 600px) {
  section#about {
    position: relative;
    padding-top: 30%;
  }
  .tab-icon-div {
    padding: 0.2rem;
    background-color: var(--primaryColor);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0 0 0;
  }
  .tabs .tab a {
    display: block;
    background-color: var(--mainGrey);
    width: 70%;
    height: 100%;
    padding: 0 24px;
    font-size: 14px;
    border-radius: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-transition: color 0.28s ease, background-color 0.28s ease;
    transition: color 0.28s ease, background-color 0.28s ease;
  }
  .tabs .tab {
    display: inline-block;
    text-align: left;
    line-height: 30px;
    height: 50px;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    border-radius: 10px;
  }
  .tabs {
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    height: 50px;
    width: 100%;
    background-color: #fff;
    margin: 0 auto;
    white-space: nowrap;
  }
  .tab-text h6 {
    line-height: 10% !important;
    display: inline;
    font-size: 1rem;
    margin: 1rem 0 0 0;
  }

}




.collapsible {
  border-top: none !important;
  border-right: none;
  border-left: none;
  box-shadow: none;
  margin: 0.5rem 0 1rem 0;
}


.collapsible-header i.material-icons.add-icon,
.collapsible-header i.material-icons.remove-icon {
  position: absolute;
  left: 5px;
  margin-right: 0;
  top: 17px;
  font-weight: 100;
  font-size: 20px;
}
.collapsible-body {
  padding: 0.3rem 1rem;
  background-color: #f4f4f5;
  font-size: 14px;
}
.collapsible i{
  color: var(--primaryColor);
}
.question {
  display: inline-block;
  padding: 0 25px;
}
.collapsible-header .remove-icon {
  display: none;
}
li.active .collapsible-header .remove-icon {
  display: initial;
}
li.active .collapsible-header .add-icon {
  display: none;
}
i.material-icons.disc-icon {
  position: absolute;
  top: 19px;
  left: 2px;
  font-size: 1rem;
}
/***** end of about section *****/
