:root {
  /* font-size: 62.5%; */
  --primaryColor: #ff5c00;
  --vasitiBlack: #25201d;
  --mainGrey: #e5e5e5;
  --darkGreen: #049a01;
  --lightGreen : #f0ffee;
  --darkGrey: #494949;
  --mainWhite: #fff;
  --mainBlack: #222;
  --darkBlue: #0d019a;
  --lightBlue: #eef8ff;
  --mainSpacing: 0.2rem;
  --lineHeight: 1.4;
  --mediumFont: 5.5rem;
  --main-shadow: 1px 4px 4px rgba(0, 0, 0, 0.04);
  /* 
  width: 100%;
  overflow: hidden; */
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--vasitiBlack);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(6, 31, 53, 0.7);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: var(--mainWhite);
  overflow-x: hidden;
  color: var(--mainBlack);
  height: auto;
  min-height: 100vh;
  width: 100%;
  /* font-size: 1.6rem; */
}
/* 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

.pad0 {
  padding: 0 !important;
}
.hidden {
  display: none;
}
.rel {
  position: relative;
}
.abs {
  position: absolute;
}
.text-justify {
  text-align: justify;
}
.full-width {
  width: 100%;
}
.full-height {
  height: 100%;
}
.hidden-xs {
  display: block;
}
.visible-xs {
  display: none;
}
.flex-div {
  display: flex;
}
.mag-0 {
  margin: 0 !important;
}
.mag-bottom-0 {
  margin-bottom: 0 !important;
}
.mag-top-0 {
  margin-top: 0 !important;
}
.fg-1 {
  flex-grow: 1;
}
.flex-wrap {
  flex-wrap: wrap;
}
/***** globals *****/
.s5ths,
.m5ths,
.l5ths,
.xl5ths {
  margin-left: auto;
  left: auto;
  right: auto;
}
.row .col.s5ths {
  width: 20%;
}
@media only screen and (min-width: 601px) {
  .row .col.m5ths {
    width: 20%;
  }
}
@media only screen and (min-width: 993px) {
  .row .col.l5ths {
    width: 20%;
  }
}
@media only screen and (min-width: 1201px) {
  .row .col.xl5ths {
    width: 20%;
  }
}
/***** end of globals *****/

/***** navbar *****/
nav.trans-nav {
  position: fixed;
  /* background-color: transparent; */
  background-color: rgb(255, 255, 255);
  z-index: 10;
  height: 64px;
  /* box-shadow: none; */
}
.nav-links a {
  color: var(--mainBlack);
  text-transform: uppercase;
  font-size: 13px !important;
}
.logo {
  width: 120px;
  position: relative;
  /* top: 20px; */
}
.nav-login-group {
  display: flex;
}
.nav-btn {
  background-color: var(--primaryColor);
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.sidenav-trigger {
  position: relative;
  top: 5px;
}
.sidenav {
  background-color: var(--vasitiBlack);
  color: var(--mainWhite);
  overflow-y: scroll;
}
.sidenav-logo {
  background-color: var(--mainWhite);
  text-align: center;
  padding: 0.8rem;
}
.sidenav li > a {
  color: var(--mainWhite);
  font-size: 1.7rem;
  text-transform: capitalize;
  margin: .5rem 0;
}
.sidenav-footer {
  margin: 100px 0 0 0;
  /* position: absolute;
  width: 100%;
  bottom: 70px; */
}
.signup-style {
  background-color: var(--primaryColor);

}
.login-style a{
  color: var(--vasitiBlack) !important;
}
.login-style {
  background: var(--mainWhite);
}
/***** end of navbar *****/

@media (min-width: 993px) {
  .container {
    width: 80%;
  }
}

@media (max-width: 600px) {
  .hidden-xs {
    display: none !important;
  }
  .visible-xs {
    display: block !important;
  }
}
@media only screen and (min-width: 601px) {
  .sidenav {
    width: 50%;
  }
  .nav-two {
    line-height: 40px;
    height: 40px;
    background-color: var(--mainWhite);
    border-top: var(--mainGrey) 1px solid !important;
    box-shadow: var(--main-shadow);
  }
  .nav-two a {
    color: var(--mainBlack) !important;
    text-transform: uppercase;
    font-size: 13px;
  }
  .nav-two-content {
    display: flex;
    justify-content: center;
  }
  .sidenav-footer {
    margin: 100px 0 0 0;
    position: absolute;
    width: 100%;
    bottom: 70px;
  }
  .sidenav {
    background-color: var(--vasitiBlack);
    color: var(--mainWhite);
    overflow-y: hidden;
  }
  .sidenav li > a{
    font-size: 2.2rem !important;
    margin: .6rem 0 0 0;
  }
}
