:root {
  /* font-size: 62.5%; */
  --primaryColor: #ff5c00;
  --mainGrey: #e5e5e5;
  --greenColor: #049a01;
  --darkGrey: #494949;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainSpacing: 0.2rem;
  --lineHeight: 1.4;
  --mediumFont: 5.5rem;
  --main-shadow: 1px 4px 4px rgba(0, 0, 0, 0.04);
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--primaryColor);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(6, 31, 53, 0.7);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.full-width {
  width: 100%;
}
.full-height {
  height: 100%;
}
.hidden-xs {
  display: block;
}
.visible-xs {
  display: none;
}
.flex-div {
  display: flex;
}
.mag-0 {
  margin: 0 !important;
}
.mag-bottom-0 {
  margin-bottom: 0 !important;
}
.mag-top-0 {
  margin-top: 0 !important;
}
.fg-1 {
  flex-grow: 1;
}
.flex-wrap {
  flex-wrap: wrap;
}
.pad0 {
  padding: 0 !important;
}
.hidden {
  display: none;
}
.rel {
  position: relative;
}
.abs {
  position: absolute;
}
.text-justify {
  text-align: justify;
}

/***** globals *****/
body {
  font-family: Arial, Helvetica, sans-serif;
  background: var(--mainWhite);
  overflow-x: hidden;
  color: var(--mainBlack);
  /* font-size: 1.6rem; */
}
@media screen and (min-width: 993px) {
  .container {
    width: 80%;
  }
}
/***** end of globals *****/

/***** navbar *****/
nav.trans-nav {
  position: fixed;
  background-color: transparent;
  /* background-color: yellowgreen; */
  z-index: 10;
  height: 64px;
  /* box-shadow: none; */
}
.nav-links a {
  color: var(--mainBlack);
  text-transform: uppercase;
}

.logo {
  width: 120px;
  position: relative;
  /* top: 20px; */
}
.nav-login-group {
  display: flex;
}
.nav-btn {
  background-color: var(--primaryColor);
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.sidenav-trigger {
  position: relative;
  top: 5px;
}

/***** end of navbar *****/
